.swiper-products 
    position: relative
    height: 480px
    overflow: hidden
    &__wrapper 
        height: 440px
        display: flex    
        margin-bottom: 10px
        width: max-content
    &__slide 
    .swiper-slide-active
        border-bottom: 1px solid #d6d6d6
        border-top: 1px solid #d6d6d6
        overflow: hidden
    &__content 
        display: flex
        height: 100%
        padding: 0 30px
    &__img 
        display: flex
        flex: 0 0 60%
        justify-content: center
        overflow: hidden
        .card__img
            height: 100%
            .goods-img
                width: auto
    &__info 
        display: flex
        flex-direction: column
        justify-content: center
        align-items: flex-start

        .goods-name 
            position: relative
            font-size: 24px
            letter-spacing: -0.025em
            color: #4a4a4a
            margin-bottom: 25px
            cursor: pointer
            &:after
                display: block
                position: absolute
                left: 0
                width: 0
                height: 2px
                background-color: $mainColor
                content: ""
                transition: width 0.5s ease-out
            &:hover:after,
            &:focus:after                    
                width: 100%
        .goods-price 
            font-size: 36px
            font-weight: 700
            letter-spacing: -0.025em
            color: #fd926d
            margin-bottom: 31px
        .goods-descr 
            color: #8f8f8f
            margin-bottom: 33px
            width: 315px
        .card-button 
            width: 157px
            height: 47px
            .btn-icon
                margin-left: 10%
    &__pagination 
        text-align: center
    .swiper-container-horizontal
        .swiper-pagination-bullets
            .swiper-pagination-bullet
                cursor: pointer
                width: 10px
                height: 10px
                background: #867a76
                margin: 0 10px
            .swiper-pagination-bullet-active
                background: $mainColor

    &__prev 
        position: absolute
        width: 30px
        height: 117px
        opacity: 0.9
        background-color: #ffffff
        left: 0
        top: 50%
        transform: translateY(-50%)
        z-index: 100
        cursor: pointer
        &::after
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
            content: url('../img/icons/left.png')   
            opacity: 0.2
       
    &__next
        position: absolute
        width: 30px
        height: 117px
        opacity: 0.9
        background-color: #ffffff
        right: 0
        top: 50%
        transform: translateY(-50%)
        z-index: 100
        cursor: pointer
        &::after
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
            content: url('../img/icons/right.png')
            opacity: 0.2